// project colors

$color-orange: #f64747;
$color-white-1: rgba(255, 255, 255, 0.75);
$color-white-2: rgba(255, 255, 255, 0.5);
$color-3: rgba(144, 144, 144, 0.25);
$color-4: rgba(255, 255, 255, 0.075);

// colors

$color-black: black;
$color-white: white;

// grid variables

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// breakpoints

$bp-largest: 62.5em; //1000px
$bp-large: 56.25em; //900px
$bp-medium: 50em; //800px
$bp-small: 31.25em; //500px
$bp-small-1: 28.125em; //450px     
$bp-smallest: 18.75em; //300px

// font-families

// font-family: 'Lobster', cursive;
// font-family: 'Open Sans',Arial, Helvetica, sans-serif;
