.form {
  &__input {
    padding: 2rem;
    border-radius: 3px;

    border: 1px solid $color-4;
    width: 100%;
    font-family: inherit;
    background-color: $color-4;
    color: $color-white;

    &:focus {
      outline: none;
      border: 1px solid $color-white;
    }

    &::placeholder {
      color: $color-white-1;
    }
  }

  &__label {
    display: block;
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
  }
  &__textarea {
    // width: 100%;
    border-radius: 3px;
  }
}
